[2020-09-17 04:26] AJV009 opened #1 "TESTING-001"
Nothing here!

[2020-09-17 04:32] AJV009 commented on #1
No issues, all good

[2020-09-17 04:32] #1 closed

[2020-09-17 05:08] shriaas2898 opened #2 "Update README"
Add key features of the project in **README.md**

[2020-09-17 05:08] shriaas2898 commented on #2
@JayKandari Can I take this issue?

[2020-09-18 16:21] AJV009 opened #4 "Add a TODO in README"
Add a quick todo in the readme file to keep track of features missing and yet to be implemented.

[2020-09-18 16:26] AJV009 opened #5 "Session implementation"
Am hunting more on the sessions and DB query part, hoping to develop a highly reusable DB Query and Session manager while keeping OOPs and security in mind.
+ Want to try the PDO approach instead of mysqli functions as it more universally acceptable across a variety of DBMS.

[2020-09-18 17:24] JayKandari commented on #5
Yes PDO is a good way to move forward.

[2020-09-19 06:20] AJV009 opened #7 "Rename repo"
We would love the repo to be renamed to Bookhive. (Our application theme is related to a Hive and Book)

[2020-09-20 16:27] anjali-rathod opened #8 "DB queries and OOP's concept"
Writing classes (OOP's concept) and including PDO DB queries in them

[2020-09-20 16:27] anjali-rathod commented on #8
Can I take this issue?

[2020-09-20 17:57] shriaas2898 opened #9 "Directory Structure for the Project"
Create directory structure  for the whole project so that the file are organized properly and can be dynamically  accessed.

[2020-09-20 18:02] shriaas2898 opened #10 "Create a config file"
Create config file to store:
* DB information
* URL paths, so that files can be dynamically accessed
* Site name
* Statements for error reporting.

In case needed use [this](https://code.tutsplus.com/tutorials/organize-your-next-php-project-the-right-way--net-5873) for Reference

[2020-09-20 18:17] shriaas2898 opened #11 "Create layout files"
Create layout files for different blocks like:
* Header
* Footer
* Side bar etc
Create a file to combine a all the blocks from the layout file along with the actual content and render it.

[2020-09-21 03:17] AJV009 commented on #5
I just changed the title because Anjali said she would like to do the DB part

[2020-09-21 04:14] guptahemant commented on #4
Please create a github issue for each task / feature

[2020-09-21 05:01] pragzii3896 opened #12 "UI Designing Pages"
Create UI for pages

- Homepage(search book,sign in, sign up,about us, contact us)
- Admin dashboard(add book,edit book->list of all books with edit delete option,user edit,personal info edit,sign out)

[2020-09-21 05:57] shriaas2898 opened #13 "Search bar with filters"
Create a search bar to search book by:
* Title
* Category
* Author
And sort by date added

[2020-09-21 11:13] JayKandari commented on #7
Renamed the repository to bookhive. https://github.com/JayKandari/bookhive

Please update your `upstream` branch. You may need to run following commands.

- `git remote remove upstream` &&
- `git remote add upstream https://github.com/JayKandari/bookhive.git`

[2020-09-21 11:13] #7 closed

[2020-09-21 11:16] JayKandari commented on #2
Since the related PR is already closed. Thus closing this issue.

[2020-09-21 11:16] #2 closed

[2020-09-21 14:25] #4 closed

[2020-09-21 14:44] guptahemant commented on #4
@AJV009 make sure to create issue for remaining tasks as well.

[2020-09-21 14:54] AJV009 opened #19 "Global variables"
@shriaas2898 and https://github.com/anjali-rathod
What are the username global vars?
Can I consider it as "username" or something weird like "uid"

[2020-09-21 14:58] AJV009 commented on #19
Are we going to store username in "uid" or "username"?

[2020-09-21 15:09] AJV009 commented on #19
uid

[2020-09-21 15:09] #19 closed

[2020-09-21 15:10] AJV009 commented on #5
@JayKandari  @guptahemant
Cant I call a function inside the class constructor?
this function resides in the same class

[2020-09-21 15:11] AJV009 commented on #5
sorry i got it

[2020-09-21 19:41] AJV009 commented on #8
@anjali-rathod
This is an old code using mysqli, but can I get a kind of functionality with your PDO function too? I dont recommend using `...$args` because @JayKandari or @guptahemant had mentioned during a call regarding some flexibility issues with it, well am not much aware of it but I guess @shriaas2898  had done some fix for it.
[code]
This code works in the following ways for me
[code]
and

[2020-09-21 19:48] AJV009 commented on #10
@shriaas2898 maybe you should also move the site url param to a external file for more flexibility.
config.php
[code]
Cause I just mistakenly committed a different url with it and this can happen a million times
@shriaas2898 Should I make a PR on this?
AND I have also moved the path of dbcred.json to root
so that it becomes easy for any one to just hop in a use it
I have heard some kind of compose

[2020-09-21 19:50] AJV009 commented on #10
@shriaas2898   Should I make a PR on this?

[2020-09-21 20:02] AJV009 commented on #10
AND I have also moved the path of dbcred.json to root
so that it becomes easy for any one to just hop in a use it
I have heard some kind of composer way to do these stuff automatically well we will keep that as an upgrade option

[2020-09-22 03:49] AJV009 commented on #9
Amazing, I love this PR!
Maybe you can close this now, right?

[2020-09-22 04:02] #10 closed

[2020-09-22 04:11] #9 closed

[2020-09-22 07:06] pragatikanade commented on #12
Created all the UI pages.

[2020-09-22 08:32] AJV009 commented on #5
@guptahemant I guess it will be okay to close this issues, right?

[2020-09-22 08:32] #5 closed

[2020-09-22 08:35] AJV009 commented on #11
@shriaas2898 how is it exactly going to go, like?
Can we have a meeting on this after everybody makes there PRs and we have a mvp?

[2020-09-22 08:36] shriaas2898 commented on #11
Sure a meeting would be good

[2020-09-22 08:41] guptahemant commented on #5
Yes if you feel that session management does not need any updates, If you need to do more updates make sure to add new issues for the same.

[2020-09-22 08:48] AJV009 commented on #11
Cause I have strong feeling that a lot of UI components made by Pragati will require a TON of changes, if we are going to go this way!
And also Anjali DB code too will require changes.
JUST my guess

[2020-09-22 08:53] AJV009 commented on #11
And I think we should discuss and layout some strong rules before making PR.
Ex. Every PR should make code/changes which can be used straight away by anyone without making modification.
Because making direct modification a million times in the master? I don't think that's a right way to do it!
(slack dm)

[2020-09-22 12:45] guptahemant commented on #12
Issue should be closed once an MR has been merged for resolving this issue.

[2020-09-22 12:48] JayKandari opened #27 "Code Cleanup"
This issue is created to track any code cleanup which is present in the codebase and would be required.

This is not an urgent task atm. But Needs to be taken care when the main functionality of the application starts working.

Keep this issue open till all codebase is cleared. Multiple PRs can be referenced to this issue.

Thanks!

[2020-09-22 13:00] JayKandari opened #28 "Application index.php Homepage"
Create an entry point for the application. Currently the closest I can find is homepage.php which is not automatically loaded we have to explicitly specify homepage.php.

Maybe rename it to index.php

[2020-09-22 13:03] JayKandari opened #29 "Connection to database should be fetched from dbcreds.json"
Currently, the database connections are hardcoded directly in the files.
* resources/src/user.php
* resources/src/books.php

These should ideally be fetched from the `dbcreds.json` file which should be created manually.

Check `config.php` file, to see which variables to use.

[2020-09-22 13:06] JayKandari opened #30 "Move common header/footer markups in a common template file"
All the pages files inside the `public-html` directory have their own `<HTML>` `<head>` etc set.

Most of these can be moved into a common file and then these common files can be included in the respective files at appropriate positions.

[2020-09-22 13:09] guptahemant commented on #29
I would even say that this should be extended to use a particular database class which is reponsible for setting up database connection and should also be responsible for basic queries if possible.

[2020-09-22 13:20] pragatikanade commented on #12
Created UI pages.

[2020-09-22 13:20] #12 closed

[2020-09-22 13:30] AJV009 commented on #29
@anjali-rathod  even I mean something like as @guptahemant mentioned

[2020-09-22 15:15] AJV009 opened #32 "Config.php file autoload error fix"
Except for the dispConfig function all other IMP functions are working @shriaas2898  @pragzii3896 @anjali-rathod you guys can start using it asap.
Just forgot to add 's' in the dbcreds.json in the config file please fix that use for now
a pr with fix is coming soon
If any more issues feel free to comment below

[2020-09-22 15:20] AJV009 commented on #29
@anjali-rathod I have transformed the config file into a class file which can be used the same way I have called the redirect function in the sessionCookie.php in root/resource/src
now you can make changes easily, and am sorry about the old PR with not much tested code which I have now fixed and tested.
so in your code it would kind of look like **(here I have just printed the whole config file)**

[2020-09-22 18:24] AJV009 commented on #8
@anjali-rathod  can you take a look at this and just verify if it works? (just by reading)
[code]

[2020-09-22 19:20] AJV009 opened #33 "Global Error logs handling class"
Because of collaboration there is a increased possibility of errors here.
A class to store and display errors logs when required. (maybe use a separate db-table/json to store em)
A kind of a helper function to store every error from a code and display if needed to the user
something like ->
[code]
and soo on.....
Maybe we can keep this is as an upgrade feature if time allows

[2020-09-22 19:37] AJV009 commented on #30
@JayKandari I think @pragzii3896 made three different headers which is being called for different use like anonymous, user and admin.

[2020-09-22 19:40] AJV009 commented on #13
Anybody working on this?
You can use some kind of query using `SELECT` and `LIKE`
But for prepared statements there is some modifications as much as I know

[2020-09-23 05:38] pragzii3896 opened #35 "Create only one main.scss file and import all .scc file in it"
main.scss contains all the .scss file(@import).
This main.scss file will only included in userdash.php, admindash,homepage.

[2020-09-23 08:29] JayKandari opened #38 "Remove closing php tags from PHP files if the files only contains PHP code"
The closing `?>` tag for php files can be removed if the file contains only PHP code and not any HTML.

Read more: https://www.w3resource.com/php/syntax/syntax.php

[2020-09-23 16:33] AJV009 commented on #28
@guptahemant  @JayKandari
This issue is fixed in one of the PRs by @pragzii3896 @shriaas2898  so its safe to close

[2020-09-23 16:35] AJV009 commented on #11
Hey @shriaas2898 maybe close this issue as we don't have planning for layout files now!

[2020-09-23 16:37] AJV009 commented on #8
@anjali-rathod please close this issue as we have fixed it through a couple of PRs

[2020-09-23 16:39] AJV009 commented on #13
@shriaas2898  @anjali-rathod @pragzii3896  any idea who was working on this?

[2020-09-23 16:40] AJV009 commented on #27
By code cleanup do you also mean any syntax based too?
Like beautify code?

[2020-09-23 16:46] guptahemant commented on #27
beautify is the last thing, but can be done, Most of the things will include clear separation of logic, data handling and data representation, Currently lots of HTML has been stuffed in the classes directly whereas it should have been tried to separate the fetching of data in one function and rendering it with other. there are lots of consistency issues as well, in making use of session and databa

[2020-09-23 16:52] AJV009 commented on #29
@anjali-rathod have you made these changes yet?
I think no, so can you change it asap and make a PR asap. so that we can close this issue asap.
its as simple as "asap" 😏️

[2020-09-23 16:53] anjali-rathod commented on #13
Aastha has the code ready . She will make composer and the search bar addition to my code . @AJV009

[2020-09-23 16:55] AJV009 commented on #30
@pragzii3896  I just inspected the code looks like we can reuse some components as with current site design there are some restrictions, feel free to reach out in a call to fix em.

[2020-09-23 16:56] AJV009 commented on #32
This issue has been fixed in a couple of PRs

[2020-09-23 16:56] #32 closed

[2020-09-23 16:57] #8 closed

[2020-09-23 16:59] AJV009 commented on #33
We don't have time for this one too, it was just an idea

[2020-09-23 16:59] #33 closed

[2020-09-23 17:01] AJV009 commented on #35
cool, can you close this asap as we have been playing around it for a long time...

[2020-09-23 17:11] AJV009 commented on #38
I have fixed it so now you can close this issue.

[2020-09-23 17:14] #35 closed

[2020-09-23 17:15] pragatikanade commented on #35
Issue solved.

[2020-09-23 17:22] AJV009 commented on #27
Okay got it!
But now due to this first time collaborative project, we have already messed up a lot n' lot of logic! You will hate to see the mess.
But as the deadline is closing doing some major change doesn't seem feasible right now at least.
Even am having a tough time understanding others code, its quite difficult sometimes.
AND I almost missed to make proper documentation for the methods I mad

[2020-09-23 17:23] AJV009 commented on #13
mmm okay so a PR will be coming soon, right?

[2020-09-23 17:31] #28 closed

[2020-09-23 17:53] AJV009 commented on #29
@JayKandari  @guptahemant @anjali-rathod @shriaas2898  I have made the required changes if tested or at least as per your assumptions you guys feel its good then we can merge https://github.com/JayKandari/bookhive/pull/42 and close this issue

[2020-09-23 18:04] #11 closed

[2020-09-23 18:06] shriaas2898 commented on #13
Yes working on thatt! @AJV009

[2020-09-23 18:46] #29 closed

[2020-09-24 04:45] JayKandari commented on #38
This is already done. Closing

[2020-09-24 04:45] #38 closed

[2020-09-24 04:45] JayKandari commented on #13
Basic search is working. Thus closing.

[2020-09-24 04:45] #13 closed

[2020-09-24 04:58] anjali-rathod opened #45 "Fix the book issue function."
Make database connectivity to the function.

[2020-09-24 04:58] anjali-rathod commented on #45
Can I take this issue?

[2020-09-24 05:18] pragzii3896 opened #46 "Responsive"

[2020-09-24 05:49] shriaas2898 opened #47 "Change sidebar menus user is logged in"
Add a condition in `index.php` to change menu items when user is logged in

[2020-09-24 05:51] AJV009 commented on #45
to which function/file you actually mean?

[2020-09-24 05:51] shriaas2898 opened #48 "Highlight active menu item in sidebar"
The active menu item in sidebar should have different background color

[2020-09-24 05:52] anjali-rathod commented on #45
books.php and login.php

[2020-09-24 05:52] AJV009 commented on #46
provide a description tooo

[2020-09-24 05:53] AJV009 commented on #45
its fixed na?
Ha there are some code which you can remove!

[2020-09-24 05:54] anjali-rathod commented on #45
Not fixed. It needs to be modified. What code is to be removed?

[2020-09-24 05:57] AJV009 commented on #45
I have set FETCH ARRAY as default so you need not specify it in the code
+ your code uses dbconn.php for connection
so see carefully before use

[2020-09-24 06:04] shriaas2898 commented on #46
ToDo Responsive:
* [x] Login
* [x] Register
* [x] Add book
* [x] Book Issued
* [ ] About
* [ ] Contact
* [ ] Home
* [ ] Edit book
* [ ] Edit User

[2020-09-24 06:04] AJV009 commented on #48
+ animate three lines to a big X (cross) when the menu is collapsed
+ Add some spacing between menu icons when collapsed
+ Make default position collapsed

[2020-09-24 06:28] AJV009 opened #50 "Proper use of Autoload everywhere"
autoload should be used everywhere properly.
As in the composer.json I have specified the whole resources folder in classmap, that means YOU CAN ACCESS ANY CLASS IN THE WHOLE RESOURCES FOLDER BY JUST CALLING ` require $_SERVER['DOCUMENT_ROOT'] . '/../vendor/autoload.php'; ` in the heading of the file

[2020-09-24 06:51] AJV009 opened #51 "dbConn new connectivity options"
@anjali-rathod with the new connectivity options provided in dbConn you can pass queries directly to exeQuery which returns output of fetchall()
please test before use as there were some complaints from @shriaas2898 that the array approach didnt work.
BUT it did work on my side

[2020-09-24 06:53] AJV009 commented on #51
@shriaas2898  can you give a confirmation that passing array in the exeQuery is not working?
So that I can work on it

[2020-09-24 06:55] AJV009 commented on #45
@anjali-rathod  can you make the PR asap so that I can work on some optimizations I can see in the books.php and user.php

[2020-09-24 07:01] AJV009 commented on #45
@anjali-rathod To fetch data from a result set: Fetch data from a result set by calling one of the fetch methods: To return a single row from a result set as an array or object, call the PDOStatement::fetch method. To return all of the rows from the result set as an array of arrays or objects, call the PDOStatement::fetchAll method.

[2020-09-24 07:16] shriaas2898 commented on #51
Yes I tried this `$conn->exeQuery($query,[$_POST["search_query"]])` and also this `$conn->exeQuery($query,array($_POST["search_query"]))`
Both are not working

[2020-09-24 07:25] AJV009 commented on #51
[code]
tested working

[2020-09-24 07:30] AJV009 commented on #51
@anjali-rathod  please see this example above, its a working prepared statement. I have tested it!
I like this PDO approach than mysqli, its less complicated.

[2020-09-24 08:44] #50 closed

[2020-09-24 09:55] anjali-rathod commented on #45
We will have to make changes to all respective codes if we fetch in array format

[2020-09-24 09:55] #45 closed

[2020-09-24 12:31] anjali-rathod opened #58 "All session code in a session file"

[2020-09-24 13:03] guptahemant opened #60 "Front end CSS and SCSS related changes"
- Folder structure - There should be one css folder and scss folder
- scss folder - should contain all the scss files - along with one main.scss ( which includes all the scss )
- css folder should contain for now one css file ( main.css ). - other css files should be removed from the code base
- We should use gulp to convert the main.scss file to css/main.css file ( we have done the exercise how g

[2020-09-25 03:41] AJV009 commented on #58
Am sorry, I had been busy with some work. I understood the issue.
AND also dont forget to add a description to the issue while opening.

[2020-09-25 04:08] AJV009 commented on #58
Fixed in https://github.com/JayKandari/bookhive/pull/61

[2020-09-25 04:13] AJV009 opened #62 "Reuse Menu Code throughout all pages."
Reuse menu/sidebar code in all the pages. Avoid code duplication
**Try:** arrays & for each loop

[2020-09-25 04:16] AJV009 commented on #51
@anjali-rathod  I'll work on this?

[2020-09-25 04:25] anjali-rathod commented on #51
Lets work on all the queries. I think my code has many duplicacy

[2020-09-25 04:48] AJV009 commented on #51
Lets make it asap.

[2020-09-25 04:51] AJV009 commented on #60
I'll work on this after this get merged https://github.com/JayKandari/bookhive/pull/63
Because this PR largely edits CSS/SCSS files and configuration.

[2020-09-25 04:53] AJV009 commented on #62
I wanted to work on this but this https://github.com/JayKandari/bookhive/pull/59 pr edits a lot of menu bar items

[2020-09-25 05:11] shriaas2898 commented on #62
I am taking up this issue

[2020-09-25 06:53] pragatikanade commented on #58
@anjali-rathod anjali this issue is fixed. Can you please close this.

[2020-09-25 07:08] #58 closed

[2020-09-25 09:12] AJV009 opened #64 "Integration of session code from class fails"
Under-testing
Methods from session class fails in many pages by causing infinite loops with session_start

[2020-09-25 11:19] AJV009 commented on #64
May have to move `session_start` outside the class to the top of the page, maybe this could avoid looping

[2020-09-25 14:28] AJV009 commented on #64
ITS still buggy, its getting more n' more difficult to fix them! NEW errors keep popping up

[2020-09-25 14:49] AJV009 opened #66 "Registration fails because of session-cookie snip"
Registration / login fails due to session code from sessionCookie file.

[2020-09-25 14:53] anjali-rathod commented on #66
Fixed in latest PR

[2020-09-25 14:55] AJV009 commented on #66
Thanks @anjali-rathod  for the https://github.com/JayKandari/bookhive/pull/67

[2020-09-25 14:56] #66 closed

[2020-09-25 16:07] AJV009 commented on #64
WHole program flow tested and fixed in https://github.com/JayKandari/bookhive/pulls

[2020-09-25 16:07] #64 closed

[2020-09-25 16:08] AJV009 commented on #51
Refactoring Books.php is really difficult now as the logic would require a ton of changes

[2020-09-25 16:08] #51 closed

[2020-09-25 19:31] AJV009 commented on #47
@shriaas2898  I guess this https://github.com/JayKandari/bookhive/issues/62 issue is being fixed so am closing the previous one and continue here.

[2020-09-25 19:31] #62 closed

[2020-09-25 19:32] shriaas2898 commented on #47
No don't close it yet! Let me raise a PR for it first

[2020-09-25 21:34] AJV009 commented on #47
@shriaas2898  I meant as both issue will eventually point to one PR I closed the old one and let this one remain until PR is merged

[2020-09-25 21:35] AJV009 opened #69 "Book Image Upload Not working"
Book image is not uploading, some issue there. probably with paths

[2020-09-25 22:20] AJV009 opened #70 "Auto crop/resize uploaded book images"
Auto crop or resize book images uploaded through addbook admin page

[2020-09-26 07:57] #69 closed

[2020-09-26 08:29] shriaas2898 opened #73 "Create constants for user role"
* Create constant to represent user roles: `anon`,`user` and `admin`
* Include these constants in `User` class
* Modify session to use constants instead of string for roles

[2020-09-26 09:23] shriaas2898 commented on #30
A part of this (creating, header and sidebar) is covered in #72
Things to do now:
* Create a class to combine php headers, menus and main content and render it.
* Use functions from Menu class for header and sidebar, get main content from individual files.

[2020-09-27 08:13] pragzii3896 opened #75 "Table responsive Changes"
@shriaas2898  @AJV009 @anjali-rathod  Can anyone please work on responsive part. So that i can go through some OOP PHP concepts. :)

[2020-09-28 04:33] shriaas2898 opened #76 "Input Validation in all the forms"
Input validation is not fully implemented in all the forms, check all the forms and add input validation for all the forms.

[2020-09-28 04:36] shriaas2898 opened #77 "Add documentation EVRYWHERE"
Most of the code is undocumented right now, add documentation to explain why the code is working the way its working.

[2020-09-28 05:21] AJV009 commented on #77
SO TRUE, I THINK OF IT BUT I FEEL LAZY LATER

[2020-09-28 05:27] pragatikanade commented on #76
I will work on this.

[2020-09-28 06:05] anjali-rathod opened #78 "Implement IMAGE update code"
In the edit book page , the update of all other fields have been implemented other than for image.

[2020-09-28 06:05] anjali-rathod commented on #78
@pragzii3896 if you could fix this? Cause I am currently working on the CSS part.

[2020-09-28 07:21] pragatikanade commented on #78
@anjali-rathod sure i will work on that when i finish php validation. :+1:

[2020-09-28 07:33] anjali-rathod commented on #78
Thank you

[2020-09-28 07:48] AJV009 commented on #47
@shriaas2898  this is fixed right, why not close it?
OR @JayKandari  / @guptahemant  can close this too

[2020-09-28 07:49] #47 closed

[2020-09-28 07:53] AJV009 commented on #48
@shriaas2898  am working on this!

[2020-09-28 07:54] AJV009 commented on #70
@shriaas2898 you working on this?

[2020-09-28 07:54] AJV009 commented on #73
this is fixed right?
@shriaas2898  why not close this!

[2020-09-28 07:57] AJV009 commented on #77
This issue is for everyone to fix who is writing new code or improving old code! @pragzii3896 @anjali-rathod @shriaas2898

[2020-09-28 09:05] shriaas2898 commented on #70
@AJV009 I am creating variables for image sizes does that works? @pragzii3896 @rahulsavaria?

[2020-09-28 09:06] shriaas2898 commented on #73
No this is yet to be implemented. Code is using hard coded values right now.

[2020-09-28 09:08] shriaas2898 commented on #48
Cool! The class `active-menu` is already defined in the tag you just have to change the bgcolor.

[2020-09-28 09:29] AJV009 commented on #48
YES I SAW

[2020-09-28 09:29] AJV009 commented on #73
OOOOps sorry

[2020-09-28 12:32] AJV009 commented on #48
Fixed in https://github.com/JayKandari/bookhive/pull/81
@shriaas2898  please close

[2020-09-28 12:46] pragatikanade commented on #76
@AJV009 @shriaas2898 @anjali-rathod we can only close issue when it gets merged.. right?

[2020-09-28 12:46] #76 closed

[2020-09-28 12:51] pragatikanade commented on #60
@guptahemant this issue is resolved. can you please close this issue?

[2020-09-28 12:51] pragatikanade commented on #48
@AJV009 you did this right?

[2020-09-28 12:55] AJV009 commented on #48
@pragzii3896 check the linked PR https://github.com/JayKandari/bookhive/pull/81

[2020-09-29 05:48] pragatikanade commented on #70
@shriaas2898  hmm yes.. i also created variables for colours. You can create variables for anything which is going to use many times/globally.

[2020-09-29 05:50] pragatikanade commented on #48
@AJV009 yes. I saw :+1:

[2020-09-29 13:11] #48 closed

[2020-09-30 11:45] anjali-rathod commented on #75
@pragzii3896  Just created a PR for this . Close this issue

[2020-09-30 15:11] #78 closed

[2020-10-01 03:52] pragatikanade commented on #75
@anjali-rathod  Sure

[2020-10-01 03:52] #75 closed

[2020-10-01 04:18] AJV009 opened #88 "Minor Issues with Sign up page"
- Change the place for after sign-up messages

[2020-10-01 04:20] AJV009 opened #89 "Minor session fix"
Some pages still have session_start

[2020-10-01 04:22] AJV009 opened #90 "Faulty Hamburger menu"
stairs like effect to the right side of the hamburger menu when in mobile view

[2020-10-01 04:47] shriaas2898 commented on #88
Also,
* Fix alignment of button

[2020-10-01 04:48] shriaas2898 opened #91 "Change card layout in about us page"
Move the third card to second row in about us page

[2020-10-01 04:51] shriaas2898 commented on #91
Working on this issue

[2020-10-01 05:06] shriaas2898 commented on #90
Also in the mobile view color of text of active menu is different:
![image](https://user-images.githubusercontent.com/26863344/94770271-d2865800-03d1-11eb-94c5-09b3e0763556.png)
While it is not there in the laptop view:
![image](https://user-images.githubusercontent.com/26863344/94770311-e9c54580-03d1-11eb-986d-52d42cf3b22b.png)

[2020-10-01 05:57] shriaas2898 opened #93 "Fix layout of contact us page"
* On resizing the text overflows the div
![image](https://user-images.githubusercontent.com/26863344/94773168-dcf82000-03d8-11eb-8aa8-cfe97eac9758.png)
* The div is not properly resized on changing the screen width

[2020-10-01 12:17] JayKandari opened #95 "Remove commented code from codebase."
Commented code should not be there in the codebase. It should be removed. All types of code comments - PHP, HTML, CSS etc.

[2020-10-01 12:30] #93 closed

[2020-10-01 12:30] shriaas2898 commented on #91
Fixed in #92

[2020-10-01 12:30] #91 closed

[2020-10-01 12:38] shriaas2898 opened #97 "Eliminate use of table"
The width of table is overflowing the body:
![image](https://user-images.githubusercontent.com/26863344/94809537-5eb77000-0410-11eb-8943-ca908b51ee33.png)

This is probably because the media query is working on very large screen width `@media(max-width:1260px)` there can be other factors too.

[2020-10-01 12:41] shriaas2898 opened #98 "Link for user and admin dashboard"
Currently user can only access the dashboard when they login but there is no other way to go back if the click on some other link, add a link in the `user name` or `profile photo` which redirects user to their dashboard
![image](https://user-images.githubusercontent.com/26863344/94810313-7d6a3680-0411-11eb-8ccc-c510e5b1b2da.png)

[2020-10-01 12:43] shriaas2898 opened #99 "Content in admin dashboard"
The `admindash` page is currently empty, some content should be added their for example list of all the issued books or a welcome message

[2020-10-01 12:51] shriaas2898 commented on #30
If anyone is working on this please make sure to:
* Use `<header>` tag for header
* Give `sidebar` class to div for sidebar
* Give `main-content` class to the div containing content of that page
As these are used by CSS to display the whole page as grid.

[2020-10-01 13:08] AJV009 commented on #30
@shriaas2898 if I want to work on this, what should I do. What is this issue actually about!

[2020-10-01 13:14] pragzii3896 opened #100 "Fixed Message display format"
All the messages should display in same format.

[2020-10-01 13:14] pragatikanade commented on #99
okay :+1:

[2020-10-01 13:15] pragatikanade commented on #98
Okay :+1:

[2020-10-01 13:18] shriaas2898 commented on #30
Currently we have `Menu` class which renders the elements of `header` `navigation` and `sidebar`, however there is still a lot of code repetition as these functions (for creating menu) needs to be called in every file, also there is some session code which is repeating in several files. The goal is to just keep a block i.e a `div` with `main-content` in the file which contains content specific to

[2020-10-01 13:19] shriaas2898 commented on #98
@pragzii3896  are you taking up the issue?

[2020-10-01 13:19] shriaas2898 commented on #99
@pragzii3896 are you taking up the issue?

[2020-10-01 13:20] pragatikanade commented on #98
@shriaas2898  hmm may be yes.. let me first do display messages thing .. then I will try to do this.

[2020-10-01 13:21] pragatikanade commented on #98
@shriaas2898  I need to add same dashboard link to image or name right?

[2020-10-01 13:23] shriaas2898 commented on #98
Yes you need to add link on image or name based on role i.e
* link for `admindash` for `admin`
* link for `userdash` for `user`
* link for `index` for `anonymous`

[2020-10-01 15:20] AJV009 commented on #30
@shriaas2898  I have a hacky idea!
How about we pass the main content to a function which would render the whole page?

[2020-10-01 15:46] AJV009 commented on #99
How about some stats on admin dash!

[2020-10-02 05:32] pragatikanade commented on #98
Hmm cool I will implement.. then will cross check first :+1:

[2020-10-03 06:30] AJV009 opened #105 "The menu is broken, not collapsing on desktop"
Did anyone notice that the menu just broke! Its just not collapsing anymore!

[2020-10-03 09:10] shresthaprotejash commented on #105
You can assign it to me. I will resolve it

[2020-10-03 12:16] shriaas2898 commented on #30
Ya! that is the intent!

[2020-10-03 15:40] AJV009 commented on #105
Hey @shresthaprotejash  we would love to have you collaborating but its a kind of locked project for now as the base is yet to be build and under work so we aren't assigning issues to anyone. (as much as I know, maybe the maintainer @JayKandari will comment on this)
We will open it up for public soon, until then find other repos for Hacktober and have a Happy Weekend!.

[2020-10-03 15:49] AJV009 commented on #105
Before Clicking on collapse
![12](https://user-images.githubusercontent.com/42465795/94995740-f27a6f00-05bd-11eb-9e25-61dee7a50893.png)

After Clicking on collapse
![13](https://user-images.githubusercontent.com/42465795/94995742-f3ab9c00-05bd-11eb-8f98-a485ce03bde1.png)
@pragzii3896 @shriaas2898

[2020-10-03 16:11] shriaas2898 commented on #105
It could be happening because we are using grid I'll try to fix this

[2020-10-05 11:12] shriaas2898 commented on #99
Will need to add more functions for it @AJV009

[2020-10-05 11:18] shriaas2898 opened #107 "Privileged pages are accessible without loggin-in."
`admindash` and other privileged pages are accessible through URL without loggin-in. Probably something wrong with the session code.

[2020-10-05 11:21] shriaas2898 opened #108 "Remove ToDo list from README?"
Since all the pages are built can we remove the `ToDo` section from `README`? @AJV009

[2020-10-05 11:55] shriaas2898 commented on #90
@AJV009 We can close this

[2020-10-05 15:31] AJV009 commented on #90
fine!

[2020-10-05 15:31] #90 closed

[2020-10-05 15:32] AJV009 commented on #70
@shriaas2898 this is fixed na?
May I close it?

[2020-10-05 15:33] AJV009 commented on #77
@shriaas2898 we can close this!

[2020-10-05 15:36] #89 closed

[2020-10-05 15:36] AJV009 commented on #95
Its removed right?

[2020-10-05 15:37] shriaas2898 commented on #77
I don't think there is enough documentation everywhere🤔

[2020-10-05 15:39] AJV009 commented on #99
mmmm i think that would be bit extra and time consuming lets just fix the current issue then think about it!

[2020-10-05 15:39] AJV009 commented on #100
What do you actually mean?

[2020-10-05 15:40] #105 closed

[2020-10-05 15:42] AJV009 commented on #107
are thinks breaking more and more over time!
I guess we will need to remove the session related stuff from menu and make it into another class
and then have a redirection thing called in the template itself

[2020-10-05 15:42] AJV009 commented on #108
ooo right!

[2020-10-05 15:44] AJV009 commented on #77
ahhh you add it over time na!
Are we going to keep this opened forever?
Because documentation is going to be added everytime!

[2020-10-05 15:45] AJV009 commented on #97
The only issue no body wants to talk about!
:laughing:

[2020-10-05 16:08] AJV009 commented on #97
Well we can do something!
Eliminate the need of a table everywhere in the app because it sucks
and have loop a div box or something like that!
OR just dont have a lot of columns like in the edit book page which is not responsive on phones I guess!

[2020-10-06 05:07] shriaas2898 commented on #107
Ya that could work.

[2020-10-06 05:09] shriaas2898 commented on #77
Until we have enough documentation we have to keep it open

[2020-10-06 05:20] shriaas2898 commented on #70
We just had to display all the book covers of same size right? In home page and new collection?

[2020-10-06 06:48] AJV009 commented on #77
OK fine! :neutral_face:

[2020-10-06 06:49] AJV009 commented on #70
:unamused: :yellow_circle:

[2020-10-06 07:34] shriaas2898 commented on #108
Solved in #110

[2020-10-06 07:34] #108 closed

[2020-10-06 13:51] anjali-rathod opened #113 "Remove extra spacing, padding and margin & Padding for icon in form & Menu icon padding to be removed"

[2020-10-06 13:53] anjali-rathod commented on #113
[Remove](url
![Screenshot from 2020-10-08 10-25-39](https://user-images.githubusercontent.com/58630452/95416567-ad08c980-0950-11eb-83ba-4f7c88d3bf1a.png)
![Screenshot from 2020-10-08 10-25-24](https://user-images.githubusercontent.com/58630452/95416571-ae39f680-0950-11eb-8fcc-64e0640bc38a.png)
![Screenshot from 2020-10-08 10-25-10](https://user-images.githubusercontent.com/58630452/95416573-aed28d

[2020-10-06 13:55] anjali-rathod opened #114 "Add 3 breakpoints"
Breakpoints for
1. Laptop
2.Tablet
3.Mobile

[2020-10-06 13:57] anjali-rathod opened #115 "Beautify contact us"
Take reference from other sites for some background image to fill in the background of contact us

[2020-10-06 13:58] anjali-rathod opened #116 "Change appearance of button and add property"
Button appearance to be changed completely
Add hover property( cursor and color)

[2020-10-06 13:59] anjali-rathod opened #117 "Convert table to list"
Convert all tables to lists

[2020-10-06 14:00] anjali-rathod opened #118 "Fix issues related to gulp"
Add gulp watch
Dont compile all files in gulp sass just the main.css

[2020-10-06 14:02] anjali-rathod opened #119 "fix session code"
redirection is messed up

[2020-10-06 14:03] #119 closed

[2020-10-06 15:19] AJV009 commented on #117
https://github.com/JayKandari/bookhive/issues/97
kind of a duplicate issue

[2020-10-06 15:59] AJV009 commented on #73
mmm how can I work on this?

we are storing those details in the session na!

[2020-10-06 16:16] AJV009 commented on #107
@shriaas2898  it would be helpful if you could also mention the url where the admin control are exposed

[2020-10-06 16:16] anjali-rathod commented on #117
@AJV009 duplicate to which one?

[2020-10-06 16:28] shriaas2898 commented on #73
We are storing string in session right 'admin' and 'user' and wherever we are comparing. So insted we can define ROLE_ADMIN or ROLE_USER in config file.

[2020-10-06 16:31] AJV009 commented on #107
@shriaas2898  FIXED

[2020-10-06 16:33] AJV009 commented on #117
are #97  we are discussing the same issue there

[2020-10-06 16:33] AJV009 commented on #73
mmmm ookay

[2020-10-06 16:34] anjali-rathod commented on #117
Ah . Ok .

[2020-10-07 03:20] AJV009 commented on #70
@shriaas2898  will this help -> https://www.sitepoint.com/crop-and-resize-images-with-imagemagick/

[2020-10-07 03:34] AJV009 commented on #73
mmm I was thinking about this but couldn't understand a lot! Am bit confused!
What is the actual goal here, what advantage are we getting from storing those values in constant.
If you mean somebody should not tamper the session vars then it is not good because another admin can make a user an admin while he/she is using the system!
Am still confused about why constants

[2020-10-07 03:59] guptahemant commented on #60
Marking as done

[2020-10-07 03:59] #60 closed

[2020-10-07 04:30] shriaas2898 commented on #73
Suppose I want to change value stored in session from `user` to `authenticated user`  I would have to change it everywhere right wherever I am checking the role, so instead its better if I define that as a constant and use the constant everywhere rather than using hard-coded values.

[2020-10-07 05:48] AJV009 commented on #73
no you dont have to!
as soon as you change it somewhere in session every next page will work based on that session which says you are a authen....user

[2020-10-07 11:44] shriaas2898 commented on #118
I am working on this

[2020-10-07 12:51] #107 closed

[2020-10-07 18:34] AJV009 opened #124 "Reusable blocks for dev profile in about-us page AND books everywhere"
Create reusable blocks of html code in about us page
also for all the code used to render the books card.

[2020-10-07 18:34] AJV009 commented on #124
I would like to work on this!

[2020-10-07 19:53] AJV009 opened #125 "How about "404: Page not found" instead of redirecting user when explicitly trying to access admin pages."
How about "404: Page not found" instead of redirecting user when explicitly trying to access admin pages.
Because that would let the attacker/hacker/user understand that such a page exist and he/she may try some other attacks. (I just thought it is a good idea! a page not found kind of like this -> https://github.com/thisis404page)

[2020-10-07 19:55] AJV009 commented on #125
we can make a function which will call the 404 page
mmm we can also have that page set as default in htaccess (I guess that's possible)

[2020-10-07 19:56] AJV009 commented on #125
mmm right it is possible -> https://www.inmotionhosting.com/support/website/set-404-via-htaccess/
just google you can find many such examples

[2020-10-07 19:57] AJV009 commented on #125
by showing 404 we can fool non-authorized user that such a page just doesn't exists!

[2020-10-08 03:59] #118 closed

[2020-10-08 04:56] anjali-rathod commented on #113
@pragzii3896

[2020-10-08 05:33] shriaas2898 opened #127 "Create get and set methods for session variable in SessionCookie class"
To avoid using `$_SESSION` variable directly in the code

* Create getter and setter methods in `SessionCookie` class.
* Create method to store and show session messages.

This kind of code should be avoided:
Direct use of session variable:
[code]
Setting messages in session variable:
[code]

[2020-10-08 07:22] #27 closed

[2020-10-08 13:43] AJV009 commented on #127
can you give an example.

[2020-10-08 14:05] shriaas2898 commented on #127
Instead of `$_SESSION["success"] = "Details updated successfully!";` we should use a method like `$session->setStatusMessage("Details updated successfully!");`
Where `$session` is an object of `SessionCookie` class.

[2020-10-08 15:09] AJV009 commented on #127
mmmmm got it!
yeah will do
but just out of curiosity "Why is it bad to directly assign values in session?"

[2020-10-09 04:32] #70 closed

[2020-10-09 04:33] #88 closed

[2020-10-09 04:35] #124 closed

[2020-10-09 04:40] #115 closed

[2020-10-09 04:40] #116 closed

[2020-10-09 04:41] shriaas2898 commented on #127
To be fixed in future scope

[2020-10-09 04:41] #127 closed

[2020-10-09 04:42] shriaas2898 commented on #73
To be fixed in future scope

[2020-10-09 04:42] #73 closed

[2020-10-09 04:42] shriaas2898 commented on #77
Minor fixes left, to be fixed in future scope

[2020-10-09 04:42] #77 closed

[2020-10-09 04:45] #98 closed

[2020-10-09 04:46] shriaas2898 commented on #97
Continued in #117

[2020-10-09 04:46] #97 closed

[2020-10-09 04:46] #99 closed

[2020-10-09 04:47] JayKandari commented on #30
This seems fixed. cc: @AJV009

[2020-10-09 04:47] #30 closed

[2020-10-09 04:48] JayKandari commented on #95
This seems fixed. cc: @AJV009

[2020-10-09 04:48] #95 closed

[2020-10-09 04:49] shriaas2898 commented on #46
Further continued #113, #114 and  #117.
Can be closed.

[2020-10-09 05:22] shriaas2898 commented on #117
Files to edit
* edituserlist.php
* books.php
* searchbook.php

[2020-10-09 05:53] shriaas2898 opened #136 "Bug: error after submitting user edit and book edit form"
Error:
![image](https://user-images.githubusercontent.com/26863344/95547536-dd1f9d80-0a20-11eb-842d-12e7d1a497cc.png)
Pages which have bug:
* edituserlist.php
* addbook.php
How to reproduce:
1. Go to `books.php`/`user.php` change `$this->redr->jsloc` to `header("LOCATION:`
2. Open `edituserlist.php` or `addbook.php` in the browser and try submitting the form.
**Note:** In `edituserlist` you need t

[2020-10-09 08:59] #125 closed

[2020-10-09 09:16] #114 closed

[2020-10-09 09:18] shriaas2898 commented on #114
This is issue is solved by #137.

[2020-10-09 09:49] #117 closed

[2020-10-09 11:53] anjali-rathod opened #143 "Functionality of contact us form"
Make the form on contact us page function, and store in db

[2020-10-09 11:54] anjali-rathod opened #144 "Functionality of contact us form"
Make the form on contact us page function, and store in db

[2020-10-09 11:54] #143 closed

[2020-10-10 04:01] #46 closed

[2020-10-10 05:31] AJV009 opened #145 "homepage not accessible directly from bookhive.local"
I guess after the last rewriterules I added to htaccess the home is not accessible anymore.
It gives me page not found

[2020-10-10 05:38] AJV009 opened #147 "Clean scss"
As suggested by @rahulsavaria  clean all the scss code to a more structured way like one line one selector and indentations

[2020-10-10 06:37] AJV009 opened #149 "Search Book UI broken"
Search book UI seems to be broken after tons of PRs merged on 9th Oct.
![Screenshot from 2020-10-10 12-06-27](https://user-images.githubusercontent.com/42465795/95647919-0f003500-0af1-11eb-97f1-3e514179d552.png)

[2020-10-10 06:41] #147 closed

[2020-10-10 06:43] #145 closed

[2020-10-10 07:25] AJV009 opened #151 "Edit Book UI Alignment"
The edit book UI looks bit broken I mean the input tags can be bit more aligned
![Screenshot from 2020-10-10 12-53-50](https://user-images.githubusercontent.com/42465795/95648808-b1bbb200-0af7-11eb-9cf8-0c522e210db0.png)

[2020-10-10 10:03] AJV009 opened #153 "Admin Dashboard Header UI Broken"
The header of the Admin Dashboard seems to be broken.
I mean the H1 tag is missing.
![Screenshot from 2020-10-10 15-31-54](https://user-images.githubusercontent.com/42465795/95652348-e76b9580-0b0d-11eb-9ba6-085b5a6ec622.png)

[2020-10-10 10:16] AJV009 opened #155 "Edit User UI is really messed up"
The edit user UI seems fully broken.
![Screenshot from 2020-10-10 15-44-31](https://user-images.githubusercontent.com/42465795/95652570-b4c29c80-0b0f-11eb-9cdd-ae9954a3657f.png)

[2020-10-10 10:16] AJV009 commented on #155
AKF Lunch, Ill fix it by 5 today

[2020-10-11 06:37] AJV009 commented on #149
@shriaas2898

[2020-10-12 04:18] #149 closed

[2020-10-12 04:19] #151 closed

[2020-10-12 04:19] #153 closed

[2020-10-12 04:20] #155 closed

[2020-10-12 07:05] #100 closed